In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Folder containing the CSV files
folder_path = r'Paper_results\Sample_size_trial'

# Initialize an empty list to store dataframes
dataframes = []

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dataframes.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dataframes)

In [5]:
combined_df

    r    n  mean_error  std_error
0   1  100  333.673302  15.943255
0   1  105  309.843080  15.786967
0   1   10  371.356254  18.423447
0   1  110  303.497347  16.208365
0   1  115  335.372662  14.358146
.. ..  ...         ...        ...
0   1   75  294.541424  15.105501
0   1   80  305.550948  14.944335
0   1   85  323.261225  16.893322
0   1   90  314.046497  17.769873
0   1   95  417.846072  15.073885

[81 rows x 4 columns]

In [12]:
combined_df.to_excel(r'Paper_results\Sample_size_trial\sample_size_trial_20230708.xlsx', index=False)