In [2]:
import pandas as pd
import utm

In [6]:
# Get data
utm_data = '//192.168.100.3/Data/JOBS/~2019/QEJ19152/DATA ANALYSIS/RADIO TELEMETRY/MASTER DATA/RTpredLocs_20230317.xlsx'
utm_data = pd.read_excel(utm_data)
utm_data['DateTime'] = pd.to_datetime(utm_data['DateTime'])

In [7]:
utm_data

                  DateTime  TagID         X_Pred        Y_Pred
0      2021-02-08 08:57:00      8  431375.114332  7.572700e+06
1      2021-02-08 08:58:00      8  431326.986895  7.572695e+06
2      2021-02-08 08:59:00      8  431290.774336  7.572667e+06
3      2021-02-08 09:00:00      8  431292.615901  7.572651e+06
4      2021-02-08 09:01:00      8  431299.830999  7.572648e+06
...                    ...    ...            ...           ...
357371 2023-03-03 16:04:00    223  421136.239573  7.573920e+06
357372 2023-03-03 16:14:00    223  421135.148102  7.573970e+06
357373 2023-03-03 16:22:00    223  421133.394398  7.573970e+06
357374 2023-03-03 16:23:00    223  421147.611377  7.574025e+06
357375 2023-03-03 16:27:00    223  421146.956996  7.573943e+06

[357376 rows x 4 columns]

In [8]:
#Function to convert geographic to projected coordinates
def to_latlong(easting, northing, zone_number, letter):
    latitude, longitude = utm.to_latlon(easting, northing, zone_number, letter)
    return latitude, longitude

In [9]:
#UTM zones for Bravus is Zone 55 Letter k
utm_data['latitude'], utm_data['longitude'] = to_latlong(utm_data['X_Pred'].values, utm_data['Y_Pred'].values, 55, 'k')

In [ ]:
utm_data

In [12]:
output_path = '//192.168.100.3/Data/JOBS/~2019/QEJ19152/DATA ANALYSIS/RADIO TELEMETRY/MASTER DATA/RTpredLocs_LatLon_20230317.xlsx'

utm_data.to_excel(output_path, index=False)