In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Folder containing the CSV files
folder_path = r'Paper_results\Sample_size_trial\Individual_runs'

# Initialize an empty list to store dataframes
dataframes = []

# Loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dataframes.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dataframes)

In [4]:
combined_df

    r    n  mean_error  std_error
0   1  100  333.673302  15.943255
0   1  101  310.694205  15.580767
0   1  102  310.253006  15.917257
0   1  103  309.526501  15.496884
0   1  104  295.644020  15.253514
.. ..  ...         ...        ...
0   1   96  297.412356  14.544481
0   1   97  306.646682  16.011638
0   1   98  302.993571  15.646408
0   1   99  326.274897  15.569016
0   1    9  445.879972  18.860426

[406 rows x 4 columns]

In [5]:
combined_df.to_excel(r'Paper_results\Sample_size_trial\sample_size_trial_20230717.xlsx', index=False)